* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    /* color: #2b2821; */
    color: #e3cfb4;
    font-size: 13px;
    font-family: sans-serif;
    background-color: #5d7275;
}

.pure-g p {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #E0C872;
}
    .header-link:visited {
        color: #E0C872;
    }

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #E0C872;
    background-image: url(/assets/dot.png);
    background-repeat: repeat;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
	color: #2B2821;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: #2B2821;
    border: 3px solid #2B2821;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    background-color: #E0C872;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: #2B2821;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
    background-color: #5d7275;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: #e0c872;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #E0C872;
}
.content-subhead i {
    margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    color: #E3CFB4;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

/*
 * CRIS's STUFF
 */
.joe-link:link {
    text-decoration: underline;
    color: #b1a58d;
}

.joe-link:visited {
    text-decoration: underline;
    color: #b1a58d;
}

.joe-link:hover {
    text-decoration: underline;
    color: #b1a58d;
}

.joe-ribbon {
    text-decoration: underline;
    color: #E3CFB4;
}

.joe-ribbon:hover {
    color: #E3CFB4;
    text-decoration: underline;
}

.joe-ribbon-header {
    text-decoration: underline;
    color: #E0C872;
}

.joe-ribbon-header:hover {
    color: #E0C872;
    text-decoration: underline;
}

.monospaced {
    font-family: monospace, monospace !important;
}

.dark {
    color: #E3CFB4;
    background-color: #E3CFB4;
}

.dark-dotted {
    background-color: #E3CFB4;
    background-image: url(/assets/background.png);
    background-repeat: repeat;
}

.dark a,
.dark a:hover,
.dark a:focus {
    color: #E3CFB4;
    text-decoration-color: #E0C872;
}

table {
    width: 90%;
}

ul.playlist {
    list-style-type: none;
    padding: 0;
}

img.albumcover {
    width: 45%;
    image-rendering: pixelated;
}

.disabled {
    display: none;
}

.order-button {
    margin: 5px;
    background: #5d7275;
    color: #e3cfb4;
    border-width: 1px;
    border-radius: 3px;
    border-color: #e3cfb4;
}

