<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website for Cristiano Silva Jr.">
        <title>Hello!</title>
        <link rel="icon" href="/assets/logo.png">
        <link href="/assets/css/pure.css" rel="stylesheet">
        <link href="/assets/css/app.css" rel="stylesheet">
    </head>
    <body>
        <div class="ribbon l-box-lrg dark-dotted">
            <h2 class="content-head content-head-ribbon">
                <a class="joe-ribbon" href="http://tic80.com/" class="joe-ribbon" target="_blank">
		    TIC-80
		</a>
            </h2>
            <div class="pure-g">
                {{content}}
            </div>
        </div>

        <div class="content">
            <a class="joe-ribbon-header" href="/"><h2 class="content-head is-center">Cris Silva Jr.</h2></a>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1">
                    <p class="monospaced">
                        GE/CS$ d- s: a C++ UL++ E--- W++ w--- M++ PS+ PE !tv b+ DI+ D+ G e&gt;+++++ h--- r+++ y?
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
