<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website for Cristiano Silva Jr.">
        <title>Anotações</title>
        <link rel="icon" href="/assets/logo.png">
        <link href="/assets/css/pure.css" rel="stylesheet">
        <link href="/assets/css/app.css" rel="stylesheet">
        <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/notes/feed.rss"/>
    </head>
    <body>
        <div class="ribbon l-box-lrg dark-dotted">
            <div>
                <h2 class="content-head content-head-ribbon is-center">Anotações</h2>
            </div>

            <div class="pure-g disabled" id="controls">
                Ordenar por:
                <button id="created-first" class="order-button">
                    data de criação (crescente)
                </button>
                <button id="created-last" class="order-button">
                    data de criação (decrescente)
                </button>
                <button id="updated-first" class="order-button">
                    data de atualização (crescente)
                </button>
                <button id="updated-last" class="order-button">
                    data de atualização (decrescente)
                </button>
            </div>
            
            <div class="pure-g" id="content">{{content}}</div>
        </div>

        <div class="content">
            <a class="joe-ribbon-header" href="/"><h2 class="content-head is-center">Cris Silva Jr.</h2></a>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1">
                    <h4>Mais informações...</h4>
                    <p>
                        Você pode me achar no
                        <a href="https://www.linkedin.com/in/cristiano-alves-da-silva-j%C3%BAnior-0a2761187/">LinkedIn</a>
                        ou no
                        <a class="joe-link" href="https://github.com/ishiikurisu">GitHub</a>.
                    </p>
                    <p>
                        <a href="/notes/feed.rss" class="joe-link">
                            RSS feed
                        </a>
                    </p>

                    <p class="monospaced">
                        GE/CS$ d- s: a C++ UL++ E--- W++ w--- M++ PS+ PE !tv b+ DI+ D+ G e&gt;+++++ h--- r+++ y?
                    </p>
                </div>
            </div>
        </div>

        <script src="/assets/js/notes/index.js"></script>
        <script>
            if (!!main) {
                main();
            }
        </script>
    </body>
</html>
