<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website for Cristiano Silva Jr.">
        <title>Anotações</title>
        <link rel="icon" href="/assets/logo.png">
        <link href="/assets/css/pure.css" rel="stylesheet">
        <link href="/assets/css/app.css" rel="stylesheet">
        <script type="text/javascript" async
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    </head>
    <body>
        <div class="content dark dark-dotted" id="content">{{content}}</div>

        <div class="content">
            <a class="joe-ribbon-header" href="/"><h2 class="content-head is-center">Cris Silva Jr.</h2></a>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1">
                    <h4>Mais informações...</h4>
                    <p>
                        Você pode me achar no
                        <a href="https://www.linkedin.com/in/cristiano-alves-da-silva-j%C3%BAnior-0a2761187/">LinkedIn</a>
                        ou no
                        <a class="joe-link" href="https://github.com/ishiikurisu">GitHub</a>.
                    </p>
                    <p>
                        <a href="./index.html" class="joe-link">
                            Voltar à página de anotações...
                        </a>
                    </p>
                    <p class="monospaced">
                        GE/CS$ d- s: a C++ UL++ E--- W++ w--- M++ PS+ PE !tv b+ DI+ D+ G e&gt;+++++ h--- r+++ y?
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
