<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
    <h3 class="content-subhead">
        <a class="joe-ribbon-header"
           href="{{path}}">
            {{title}}
        </a>
    </h3>
    <p>
        {{description}}
    </p>
    {{dateLabel}}
</div>

